@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";


a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
}

.carousel figcaption.caption p {
  display: none;
  padding: none;
  margin: none;
}

*::focus,
*::hover {
  text-decoration: none;
}

.container {
  @media screen and (max-width: 1000px) {
    padding-left: 0;
    padding-right: 0;
  }
}
/*** HEADER ***/
#header {
  background: url("head-background.jpg") left no-repeat $brand-primary;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  overflow: hidden;
  max-height: 200px;
  @media screen and (max-width: 1200px) {
    background-position: -175px;
  }
  @media screen and (max-width: 1000px) {
    background-position: -315px;
  }
  @media screen and (max-width: 767px) {
    max-height: 10000px;
    background: #fff;
    margin: 0;
    padding: 0;
  }

  h4 {
    display: none;
  }

  .list-group-item {
    background-color: $brand-primary;
    font-size: 20px;
    text-transform: uppercase;
    font-family: $bold;
    padding: 0;
    border-bottom: 1px solid #fff;
    display: block;
    @media screen and (max-width: 480px) {
      text-align: center;
    }

    a {
      display: block;
      width: 100%;
      color: #fff;
      padding: 0.75rem 1.25rem;
    }
  }

  a#mcats {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: $bold;
  }

  li.list-group-item a:hover {
    background: #D93600;
  }

  .logo {
    max-height: 65px;
    padding-top: 10px;
    @media screen and (max-width: 1200px) {
      max-height: 55px;
    }
    @media screen and (max-width: 1000px) {
      max-height: 40px;
      margin-left: -15px;
    }
    @media screen and (max-width: 767px) {
      max-height: 65px;
      padding-bottom: 15px;
      margin-left: 10px;
    }
    @media screen and (max-width: 600px) {
      margin-left: 0;
    }
    @media screen and (max-width: 400px) {
      max-width: 175px;
      margin-top: 6px;
    }
  }

  .header-top dd.col-xs-3 {
    padding-right: 0;
    padding-left: 0;
  }

  .header-top dd.col-xs-2 {
    font-size: 13px;
    font-family: helvetica-neue-roman;
    text-transform: uppercase;
    text-align: right;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5px;
    width: 175px;
    @media screen and (max-width: 1100px) {
      font-size: 11px;
      width: 150px;
    }

    &::after {
      font-family: 'Material Icons';
      content: '\E047';
      color: $brand-secondary;
      padding-left: 10px;
      @media screen and (max-width: 1100px) {
        padding-left: 5px;
      }
    }
  }

  .offset-xs-2.col-xs-4.offset-sm-4.col-sm-3 {
    @media screen and (max-width: 400px) {
      float: none;
      padding: 0;
      margin: 0;
      width: 175px;
      right: 0;
      top: 0;
      max-height: 62px;
      position: absolute;
      overflow: hidden;
    }
  }

  .row {
    margin: 0;
  }

  nav a {
    position: relative;
    bottom: 10px;
    @media screen and (max-width: 1000px) {
      top: -5px;
      right: -20px;
      font-size: 14px;
    }
  }

  .search-widget {
    float: none;
    margin-left: 15px;
  }

  dl.row {
    float: right;
  }

  input.ui-autocomplete-input {
    @media screen and (max-width: 1080px) {
      width: 175px;
      height: 25px;
    }
  }
}

.row.mm nav a {
  font-family: helvetica-neue-black-condensed;
  color: white;
  padding-right: 25px;
  text-transform: uppercase;
  float: right;
  @media screen and (max-width: 980px) {
    font-size: 14px;
  }

  &:focus,
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.popover {
  font-family: inherit;
}
/*** WRAPPER ***/
#wrapper {
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.11);

  .banner {
    margin-bottom: rem(24px);
    display: block;

    img {
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .breadcrumb {
    background-color: transparent;
    padding: 0;

    &[data-depth="1"] {
      display: none;
    }

    ol {
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      display: inline;

      &::after {
        content: "/";
        color: $gray-dark;
        margin: em(5px);
      }

      &:last-child {
        content: "/";
        color: $gray-dark;
        margin: rem(5px);

        &::after {
          content: "";
        }
      }

      a {
        color: white;
      }
    }
  }
}
/*** MAIN ***/
main {
    overflow-x: hidden;
}
#main {
  .page-content {

    h6 {
      margin-bottom: rem(18p);
    }

    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .page-footer {}
}

h2,
h3 {
  font-family: $black;
  display: inline-block;
}

.amazzingblog.blocks.displayHome {
  display: none;
  margin: 0;
  padding: 0;
}

.liner {
        margin-bottom: 60px;
        position:relative;
  &::before {
    content: " ";
    height: 8px;
    margin-top: 0;
    background: url("liner.png") no-repeat;
    display: block;
    position:absolute;
    bottom: -14px;
    left: -8px;
    width: 140px;
  }

  &::after {
    content: " ";
    background-color: $brand-primary;
    -webkit-transform: skew(-35deg);
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -o-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    transform: skew(35deg);
    display: block;
    height: 7px;
    position:absolute;
    bottom: -13px;
    right: 0px;
    left: 120px;
  }
}

h5 {
  text-transform: uppercase;
  color: $brand-primary;
  font-family: $heavy;
  font-size: 25px;
  margin-bottom: 0;

  a.btn.btn-primary {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    float: right;
    font-family: 'Georgia, Times, Times New Roman, serif';
    font-size: 15px;
    font-weight: normal;
    @media screen and (max-width:600px) {
      font-size: 12px;
    }
    @media screen and (max-width:400px) {
      float: none;
      width: 100%;
    }
  }

  a.btn i.material-icons {
    color: white;
  }
}

h1 {
  font-family: $black;
  display: block;
  color:black;
  @media screen and (max-width:1080px) {
font-size:30px;
  }
  @media screen and (max-width:980px) {
font-size:24px;
  }
}

h1.liner {
  margin-bottom: 50px;
  @media screen and (max-width:600px) {
    font-size: 1.5rem;
  }
}

#notifications {
  ul {
    margin-bottom: 0;
  }
}
/*** MAPS ***/
.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  float: none!important;

  iframe {
    pointer-events: none;
  }
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.map {
  dl.row.card-block {
    padding-bottom: 0;
  }

  h3 {
    text-transform: uppercase;
    font-size: 2.125rem;
    @media screen and (max-width:600px) {
      font-size: 1.5rem;
    }
  }

  h3 .liner::before {
    @media screen and (max-width:600px) {
      top: 36px;
    }
  }

  h3 .liner::after {
    @media screen and (max-width:600px) {
      top: 3px;
      position: relative;
    }
  }

  dd.col-sm-3 {
    font-size: 16px;
    font-family: $roman;
    margin: 0;
    padding: 0;
    text-align: right;
    @media screen and (min-width:980px) and (max-width: 1200px) {
        font-size:13px;
    }
    @media screen and (min-width:0) and (max-width: 600px) {
      width: 100%;
      text-align: left;
      clear: both;
    }

    span {
      font-family: $medium;
    }
  }

  dd.col-sm-1 {
    margin: 0;
    padding: 0;
    text-align: right;
    @media screen and (min-width:0) and (max-width: 600px) {
      display: none;
    }
  }

  i.material-icons {
    color: $brand-secondary;
    font-size: 10px;
  }

  .col-sm-6 {
    @media screen and (min-width:0) and (max-width: 980px) {
      width: 100%;
    }
  }
}
/*** FOOTER ***/
#footer {
  background: url(footer-background.jpg)bottom left no-repeat #333333;
  background-size: 531px;
  height: 100%;

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .mm nav {
    position: relative;
    top: 30px;
    right: 30px;
  }

  .tertiary {
      padding: $pad1;
      border-bottom:1px solid;
      @media screen and (max-width: 1200px) {
           padding: $pad2;
     }
     @media screen and (max-width: 980px) {
          padding: $pad3;
    }

    span {
      color: white;
      font-size: 20px;
    }
  }
  @media screen and (min-width:0) and (max-width: 786px) {
    background: black;
    height: auto;

    .pre nav.categories {
      display: none;
    }
  }

  .footer-container {
    margin-top: 0;
    padding-top: 0;
    height: 315px;
    @media screen and (min-width:0) and (max-width: 786px) {
      p a._blank {
        text-align: center;
        margin: 0;
      }
    }
  }

  .row.bottom {
    float: right;
    font-size: 14px;
    padding-top: 10%;
    @media screen and (min-width:0) and (max-width: 786px) {
      float: none;
      display: table;
      margin: 0;
      width: 100%;
      text-align: center;
      margin-top: -25px;
    }
  }
}

.concrete {
  background: url(concrete.jpg) repeat;
  padding: $pad1;
background-attachment: fixed;
  @media screen and (max-width: 1200px) {
       padding: $pad2;
 }
 @media screen and (max-width: 980px) {
      padding: $pad3;
}
}
/***Category Menu***/
.cat-menu {
  nav {
    width: 100%;
    display: table;
    table-layout: fixed;
    font-size: 15px;
    font-family:$medium;

    a {
      color: #fff;
    }

    ul {
      list-style: none;
      display: table-row;
      margin: 0;
      padding: 0;
      background: #000000;
    }

    li {
      position: relative;
      height: 55px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      transition: background 0.4s ease;
      a {
          width:100%;
          display:block;
          &:hover, &:focus{
              color:#fff;
          }
      }
      @media screen and (max-width:1200px) {
        font-size: 12px;
      }
      @media screen and (max-width:1000px) {
        font-size: 10px;
      }
      @media screen and (max-width:767px) {
        font-size: 16px;
        width: 33.33%;
        display: block;
        float: left;
        height: auto;
        padding: 10px;
      }
      @media screen and (max-width: 500px) {
        width: 50%;
      }
    }
  }

  li:hover {
    background: #0029A5;
    transition: background 0.4s ease;
  }
}

.primary {
  background: $brand-primary;
}

.secondary {
  background: $brand-secondary;
}

.tertiary {
  background: $btn-primary-color;
}

.end {
  background: $gray-darker;
  padding: 5px;

  i.material-icons {
    line-height: 14px;
    margin-right: 10px;
    font-size: 18px;
    margin-left: 5px;
  }
}

.product-variants ul {
  margin-left: 15px;
}

.product-information {
  p {
    font-family: Georgia;
    font-size: 16px;
    color: black;
  }

  ul {
    font-size: 14px;
    font-family: $roman;

    li {
      list-style-type: none;
      position: relative;
      padding-left: 10px;
      padding-bottom: 5px;

      &::before {
        content: '■';
        display: inline-block;
        position: absolute;
        left: -1em;
        color: $brand-secondary;
        font-size: 12px;
        bottom: 6px;
      }
    }
  }

  h5,
  strong {
    text-transform: uppercase;
    font-size: 18px;
    font-family: $medium;
    color: black;
        margin-bottom: 15px;
  }
}
/***About Us***/
.page-cms {
    #about-us img, #history img, #delivery img{
    max-width: 585px;
    @media screen and (min-width:1600px){
        max-width: 50%;
      }
     @media screen and (max-width:1500px){
        max-width: 510px;
      }
       @media screen and (max-width:1000px){
       max-width: 100%;
       }
    }
    }
   .section-block {
    background: white;
    margin-bottom: 50px;
          .body {
        max-width: 750px;
        @media screen and (min-width:1600px){
        width: 50%;
    padding: 5rem;
    float: none;
    display: table;
    margin: auto;
    max-width: 850px;
      }
    padding-left: 5rem;
    padding-right:5rem;
    @media screen and (max-width:1500px){
    padding-left: 2rem;
    padding-right:2rem;
        float: none;
    display: table;
    margin: auto;
    }
    @media screen and (max-width:1200px){
    padding-left:1rem;
    padding-right:1rem;
    } 
     @media screen and (max-width:1000px){
      padding-bottom:1rem;
       }
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 0px;
    padding-top: 40px;
    float:right;
    a.btn.btn-secondary{
    text-transform:uppercase;
    background:$brand-primary;
    border: none;
    color: white;
    margin-right:20px;
    }
    a.btn i.material-icons {
    background: white;
    color:$brand-primary;
    }
    h2 {
    text-align:left;
    }
 p {
    font-size: 20px;
     @media screen and (max-width:1500px){
        font-size: 17px;
      }
      @media screen and (min-width:1000px) and (max-width: 1135px) {
        font-size: 14px;
      }
}
 }
.right-al img {
    float: right;
    padding: 0px;
    margin: 0px;
 }
 .left-al img {
    float: left;
    padding: 0px;
    margin: 0px;
 }
}
div#delivery {
    margin-bottom: 0px;
}
/***Team Module***/
.concrete.amazzingblog.blocks.displayBlog2 {
    margin: 0px;
}
.displayBlog2 {
.post-item {
    padding: 0px;
    background: url('post-item-team.png') right center no-repeat white;
    max-height: 126px;
    @media screen and (min-width:1400px) and (max-width: 1550px) {
     max-height: 115px;
      }
    @media screen and (min-width:1200px) and (max-width: 1399px) {
     max-height: 95px;
      }
      @media screen and (min-width:1100px) and (max-width: 1199px) {
      max-height: 90px;
      }
      @media screen and  (max-width: 1099px) {
       max-height: 100%;
       float:none;
       padding:0px;
       background: url('post-item-team.png') right bottom no-repeat white;
      }
     ul li {
    font-size: 14px;
    @media screen and (min-width:1100px) and (max-width: 1399px) {
     font-size: 12px;
     margin-top:-3px;
     margin-bottom:0px;
      }
        @media screen and (min-width:1100px) and (max-width: 1199px) {
     font-size: 10px;
      }
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 1.25;
}
    }
.post-item-cover{
  overflow:hidden;
      max-height: 126px;
      @media screen and (min-width:1400px) and (max-width: 1550px) {
     max-height: 115px;
      }
      @media screen and (min-width:1100px) and (max-width: 1199px) {
      max-height: 115px;
      margin-right:5px;
      }
      @media screen and (min-width:1200px) and (max-width: 1399px) {
     max-height: 95px;
     margin-right:5px;
      }
       @media screen and  (max-width: 1099px) {
       max-height: 100%;
      margin:0px;
      }
}
.post-item-content{
  min-height:113px;
  padding-top: 10px;
     @media screen and  (max-width: 1099px) {
       max-height: 100%;
      margin:10px;
          min-height: 100px;
      }
}
h2 {
  font-family: $black;
  display: block;
  color:black;
  @media screen and (max-width:1080px) {
font-size:30px;
  }
  @media screen and (max-width:980px) {
font-size:24px;
  }
}

h2.liner {
  margin-bottom: 50px;
  @media screen and (max-width:600px) {
    font-size: 1.5rem;
  }
}

h3.office {
    text-transform:uppercase;
    background:#f5f5f5;
    width:100%;
    color: #B32A00;
    font-family: helvetica-neue-heavy-condensed;
    font-size: 25px;
    padding: 15px;
}
h3.post-item-title {
    margin-bottom: 0px;
    }

h4 {
  font-size:1.5rem;
  margin-top: 20px;
  margin-bottom: 20PX;
}
span.liner {
    position: relative;
    font-size: 14px;
     @media screen and (min-width:1200px) and (max-width: 1399px) {
     font-size: 12px;
      }
       @media screen and (min-width:1100px) and (max-width: 1199px) {
     font-size: 10px;
      }
    bottom: 15px;
  &::before {
    content: " ";
    height: 3px;
    margin-top: 0;
    background: url("team-span-liner.png") no-repeat;
    display: table;
    position: relative;
    top: 34px;
    left: 0px;
    width: 165px;
     -webkit-transform: skew(-35deg);
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -o-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    transform: skew(35deg);
  }
  &::after {
    content: " ";
    display:none;
  }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
  }

  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }

  #header {
    .col-xs-6.offset-sm-4.col-sm-3 {
      padding: 0;
      margin-right: 0;
      text-align: right;
    }
    background-color: #fff;

    .header-nav {
      background-color: white;
      margin-bottom: rem(10px);
      color: $gray-darker;

      .top-logo {
        line-height: 50px;
        vertical-align: middle;
        width: 200px;
        margin: 0 auto;

        a {
          img {
            max-height: 50px;
            max-width: 100%;
          }
        }
      }

      .right-nav {
        @include flex-direction(column);
      }

      .user-info {
        text-align: left;
        margin-left: 0;

        .logged {
          color: $brand-primary;
        }
      }

      .blockcart {
        margin-left: 0;
        background-color: inherit;

        &.active {
          margin-left: rem(8px);
        }

        &.inactive {
          .cart-products-count {
            display: none;
          }
        }
      }
    }

    .header-top {
      background-color: #fff;
      padding-bottom: 0;

      a i.material-icons {
        height: 65px;
        color: white;
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        @media screen and (max-width:600px) {
          padding-left: 7px;
          padding-right: 7px;
        }
        @media screen and (max-width:350px) {
          padding-left: 2px;
          padding-right: 2px;
          font-size: 16px;
        }
      }

      .offset-sm-4.col-sm-3 {
        padding: 0;
        text-align: right;
      }
    }

    .modal-sm {
      h5.liner::before {
        top: 36px;
      }

      .modal-body {
        padding: 10px 15px 15px;
      }

      .modal-header {
        border: none;
        padding: 15px 15px 10px;
      }

      .modal-body p {
        font-size: 20px;
      }

      h5 {
        color: black;
      }
    }
  }

  section.checkout-step {
    width: 100%;
  }

  .default-input {
    min-width: 100%;
  }

  label {
    clear: both;
  }

  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }

  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }

  .dropdown-item,
  .menu {
    padding-left: 0;
  }


}
@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }

  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }

  .sub-menu {
    left: 0;
    min-width: 100%;
  }

  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto rem(15px);
  }

  #blockcart-modal .cart-content {
    padding-left: 0;
  }

  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }

  #search_filters .facet .facet-label {
    text-align: left;
  }

  .block-category .category-cover {
    position: relative;
    text-align: center;
  }

  .block-category {
    padding-bottom: 0;
  }
}

a.btn i.material-icons {
  background: $brand-primary;
  border-radius: 17px;
  margin-right: 10px;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 4px;
}

a.btn.btn-secondary {
  font-family: 'Georgia, Times, Times New Roman, serif';
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1px;
}
@include media-breakpoint-down(xs) {
  #content-wrapper,
  #left-column {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 980px) {
  .container {
    max-width: 100%;
    padding: 0;
    overflow: hidden;
  }
}

.post-item-wrapper input[type="text"] {
  width: 90%;
  margin-left: 15px;

  .post-item-date {
    background: $gray-darker;
  }

  img {
    width: 100%;
  }

  .post-item-title {
    margin-top: 10px;
  }
}

.pagination select.npp.form-control {
  background: white;
  border: 1px solid grey;
  border-radius: 3px;
}

.post-item-date:after,
main .post-item-date:before {
  border-color: #000 transparent transparent transparent;
}

.amazzingblog img {
  width: 100%;
  height: auto;
}

.quote .modal-content {
  padding: 20px;
}

.quote .modal-header {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.row.spaced {
  margin-bottom: 20px;
}

.spaced span strong {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.spaced .col-md-4 span {
  font-size: 14px;
  text-align: right;
  float: right;
  color: #a7a7a7;
}

.spaced .col-md-8 span {
  font-size: 22px;
  font-family: $bold;
}
.fmeSearchbyProduct, #stores input#addressInput,  select#radiusSelect, select#locationSelect {
  background: #fafafa;
  border: 1px solid #d6d4d4;
  border-radius: 3px;
  padding:10px!important;
  width:90%!important;
  margin-bottom:20px;
}
.gformbuilderpro_form {
  @include clearfix();

  .form-group.radio_box {
    margin-bottom: 0;
  }

  input, select#select_1490984036 {
    background: #fafafa;
    border: 1px solid #d6d4d4;
    border-radius: 3px;
  }

  button {
    background: $brand-primary;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
  }

  label {
    font-size: 16px;
    @include clearfix();
  }

  [type="checkbox"],
  [type="radio"] {
    margin: 5px;
  }
p.col-xs-12 {
      width: 100px;
}
  .form-group.radio_box p {
    display: inline-block;
    @include clearfix();
  }

  textarea#textarea_1485102139 {
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid #d6d4d4;
  }

  .modal-body p {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

body#cms #content-wrapper {
  min-height: 300px;
}

.page-cms img {
  margin-right: 20px;
  max-width: 400px;
  height: auto;
  @media (max-width: 800px) {
    max-width: 100%;
  }
}
a.pdf {
    color:$brand-secondary;
    position: relative;
left: -16px;
padding-bottom: 15px;
    span{
        color: black;
font-family: helvetica-neue-medium-condensed;
font-size: 15px;
background: #efefef;
border-radius: 3px;
padding: 6px;
text-transform: lowercase;
    }
&:before {
    content: 'pdf';
    font-size: 10px;
    font-weight: bold;
    right: -22px;
    position: relative;
    color: white;
    top: 3px;
    text-transform:uppercase;
}
}
a.dwg{
    color:$brand-secondary;
    position: relative;
left: -16px;
padding-bottom: 15px;
    span{
        color: black;
font-family: helvetica-neue-medium-condensed;
font-size: 15px;
background: #efefef;
border-radius: 3px;
padding: 6px;
text-transform: lowercase;
    }
&:before {
    content: 'dwg';
    font-size: 10px;
    font-weight: bold;
    right: -22px;
    position: relative;
    color: white;
    top: 3px;
    text-transform:uppercase;
}
}
i.material-icons.large {
    font-size: 30px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12{
    @media screen and (min-width:0) and (max-width: 600px) {
     padding-right:0px;
     padding-left:0px;
    }
}
.row {
    @media screen and (min-width:0) and (max-width: 600px) {
    margin-left: 0px;
    margin-right: 0px;
}
}
textarea#textarea_1485112474 {
    background: #fafafa;
    border: 1px solid #d6d4d4;
    border-radius: 3px;
}
input.button.btn.btn-default.button-medium.tertiary, input.button.btn.btn-default.button-medium.primary {
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}
 footer#footer .block-title h2 {
    display: none;
}
.cms-id-7 .displayBlog2 {

.post-item {
    max-height: 100%;
    min-height: 100%;
    display: table-cell;

.post-item-cover {
    overflow: hidden;
    max-height: 100%;
    margin:0;
   }
 }
}
.cards {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .cards-body {
    display: table-cell;
    vertical-align: middle;
    padding: 75px;
    width: 75%;
     @media screen and (max-width:800px){
    display:block;
       width: 100%; 
       padding:40px;
     }
    @media screen and (min-width:800px) and (max-width: 1575px) {
     width: 100%;
     padding:40px;
     }
    h3.cards-title {
    margin-bottom: 1em;
         @media screen and (min-width:800px) and (max-width: 1575px) {
    font-size: 28px;
     }
   }
    p {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 75%;
     @media screen and (min-width:800px) and (max-width: 1575px) {
         font-size: 1em;
    line-height: 1.5em;
    width: 100%; 
     }
      @media screen and (max-width:800px){
     width: 100%; 
     }
}
  }
  .card-image {
    height: 800px;
    width: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    display: table-cell;
    background-size: cover;
    background-position: top center;
     @media screen and (min-width:800px) and (max-width: 1300px) {
         height: unset;
    width: 100%;
     }
      @media screen and (max-width:800px){
    display:none;
     }
}

}
.servs {
  display: table;
  table-layout: fixed;
  width: 50%;
      margin-bottom: 40px;
    @media  (max-width: 767px) {
  width: 100%;
    }
  height: 100%;
  overflow: hidden;
  position: relative;

  .servs-body {
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
    width: 65%;
        background: white;
     @media screen and (max-width:800px){
    display:block;
       width: 100%; 
       padding:40px;
     }
    @media screen and (min-width:800px) and (max-width: 1575px) {
     width: 100%;
     }
    h3.servs-title {
   margin-bottom: 1em;
    color: #b32a00;
    text-transform: uppercase;
    font-size: 1.5em;
    @media screen and (min-width:800px) and (max-width: 1575px) {
    font-size: 28px;
     }
    @media  (max-width: 800px) {
    padding-bottom: 1em;
    white-space: unset;
    text-overflow: unset;
}
   }
    p {
    font-size: 1.5em;
    line-height: 1.5em;

     @media screen and (min-width:800px) and (max-width: 1575px) {
         font-size: 1em;
    line-height: 1.5em;
    width: 100%; 
     }
   }

  }
  .serv-image {
    height: 350px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    display: table-cell;
    background-size: cover;
    background-position: top center;
     @media  (max-width: 1580px) {
    width:100%;
    display:block;
     }
   }
 }
.cms-id-4 .post-item-cover {
  @media screen and (min-width:1780px)
   {
    width:150px;
   }
}
div#fmeStorePage.card {
    box-shadow: none;
    border: none;
}
.page-not-found {
h4 {
    font-size: 30px!important;
    color: #b32a00;
    font-family: helvetica-neue-black-condensed;
    display: block;
    text-align: center;
        margin: 10px!important;
}
 p {
    font-size: 20px;
     text-align: center;
    line-height: 1.5em;
        max-width:375px;
    margin:auto;
}
 a.btn.btn-secondary.tertiary {
    display: inline-block;
    background: black;
    margin-top:20px!important;
}
}
.prodalert p {
    font-size: 22px;
    font-family: helvetica-neue-black-condensed;
    color: #414141;
}
.page-not-found strong {
    color: black;
}
#product-categories img {
    max-width: unset;
}