@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'helvetica-neue-bold-condensed';
	src: url('helvetica-neue-bold-condensed.eot?#iefix') format('embedded-opentype'),
	url('helvetica-neue-bold-condensed.otf') format('opentype'),
	url('helvetica-neue-bold-condensed.woff') format('woff'),
	url('helvetica-neue-bold-condensed.ttf') format('truetype'),
	url('helvetica-neue-bold-condensed.svg#helvetica-neue-bold-condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica-neue-black-condensed';
	src: url('helvetica-neue-black-condensed.eot?#iefix') format('embedded-opentype'),
	url('helvetica-neue-black-condensed.otf') format('opentype'),
	url('helvetica-neue-black-condensed.woff') format('woff'),
	url('helvetica-neue-black-condensed.ttf') format('truetype'),
	url('helvetica-neue-black-condensed.svg#helvetica-neue-black-condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica-neue-condensed';
	src: url('helvetica-neue-condensed.eot?#iefix') format('embedded-opentype'),
	url('helvetica-neue-condensed.otf')  format('opentype'),
	url('helvetica-neue-condensed.woff') format('woff'),
	url('helvetica-neue-condensed.ttf') format('truetype'),
	url('helvetica-neue-condensed.svg#helvetica-neue-condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica-neue-heavy-condensed';
	src: url('helvetica-neue-heavy-condensed.eot?#iefix') format('embedded-opentype'),
	url('helvetica-neue-heavy-condensed.otf')  format('opentype'),
	url('helvetica-neue-heavy-condensed.woff') format('woff'),
	url('helvetica-neue-heavy-condensed.ttf') format('truetype'),
	url('helvetica-neue-heavy-condensed.svg#helvetica-neue-heavy-condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica-neue-light-condensed';
	src: url('helvetica-neue-light-condensed.eot?#iefix') format('embedded-opentype'),
	url('helvetica-neue-light-condensed.otf') format('opentype'),
	url('helvetica-neue-light-condensed.woff') format('woff'),
	url('helvetica-neue-light-condensed.ttf') format('truetype'),
	url('helvetica-neue-light-condensed.svg#helvetica-neue-light-condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica-neue-roman';
	src: url('helvetica-neue-roman.eot?#iefix') format('embedded-opentype'),
	url('helvetica-neue-roman.otf') format('opentype'),
	url('helvetica-neue-roman.woff') format('woff'),
	url('helvetica-neue-roman.ttf') format('truetype'),
	url('helvetica-neue-roman.svg#helvetica-neue-roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica-neue-medium-condensed';
	src: url('helvetica-neue-medium-condensed.eot?#iefix') format('embedded-opentype'),
	url('helvetica-neue-medium-condensed.woff') format('woff'),
	url('helvetica-neue-medium-condensed.ttf') format('truetype'),
	url('helvetica-neue-medium-condensed.svg#helvetica-neue-medium-condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
