@mixin search-box {
  form {
    position: relative;
    input[type=text] {
      &:focus {
        outline: 3px $brand-primary solid;
        color: white;
        background-color: white;
        + button .search {
          color: $brand-primary;
        }
      }
      border: none;
      padding: 10px;
      min-width: 255px;
      background-color: $gray-light;
      color: $gray;
      @media screen and (min-width:0) and (max-width: 786px){
             width: 86%;
                 margin-top: 5px;
                     margin-bottom: 5px;
                     border-radius:6px;
                     background-color:white;
      }
      @include placeholder {
        color: #fff;
        @media screen and (min-width:0) and (max-width: 786px){
            color:black;
        }
        text-indent: rem(10px);
      }
    }
    button[type=submit] {
        position: absolute;
        background: none;
        border: none;
        bottom: 0.2rem;
        left: 205px;
        color: #fff;
    }
  }
}

@mixin box-shadow {
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
}
