$gray-darker: #414141;
$gray-dark: #878787;
$gray: #868686;
$gray-light: #aaaaaa;
$gray-lighter: #f6f6f6;
$brand-primary:#B32A00;
$brand-secondary: #0029A5;
$brand-tertiary: #B22A00;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #ff4c4c;
$label-color: $gray-darker;
$btn-primary-color: #000;
$btn-primary-bg:#fff;
$btn-primary-border: transparent;
$btn-secondary-color:#fff;
$btn-secondary-bg:transparent;
$btn-secondary-border: white;
$btn-border-radius: 0;
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: rem(5px);
$small-space: rem(10px);
$medium-space: rem(20px);
$large-space: rem(30px);
$extra-large-space: rem(40px);
$warning: #FF9A52;
$warning-hover: #FDE7BB;
$alert-warning-bg: rgba(255,154,82,0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;
$base-font-size: rem(16px);
$font-size-lg: rem(15px);
$font-size-sm: rem(14px);
$font-size-xs: rem(13px);
$font-size-h1: rem(42px);
$font-size-h2: rem(38px);
$font-size-h3: rem(34px);
$font-size-h4: rem(18px);
$font-size-h5: rem(16px);
$font-size-h6: rem(15px);
$pad1:60px 70px;
$pad2:55px;
$pad3:40px;
$black:helvetica-neue-black-condensed;
$bold:helvetica-neue-bold-condensed;
$heavy:helvetica-neue-heavy-condensed;
$light:helvetica-neue-light-condensed;
$medium:helvetica-neue-medium-condensed;
$roman:helvetica-neue-roman;
$display1-size: rem(50px);
$display1-weight: 600;
$display2-size: rem(35px);
$display2-weight: 400;
$display3-size: rem(25px);
$display3-weight: 400;
$display4-size: rem(20px);
$display4-weight: 400;
$text-muted: $gray;
$NotoSansPath: "~notosans-fontface/fonts";
$NotoSansVersion: "1.0.1";
