<section class="category-miniature">
  <a href="{$category.url}">
    <img src="{$category.image.medium.url}" alt="{$category.image.legend}">
  </a>

  <h1 class="h2">
    <a href="{$category.url}">{$category.name}</a>
  </h1>
  
  <div class="category-description">{$category.description nofilter}</div>
</section>
