#products {
  color: $gray-dark;

  .products-select {
    @include display(flex);
    @include align-items(baseline);
    @include justify-content(space-between);
  }

  .up {
    margin-bottom: rem(16px);

    .btn-secondary {
      color: $gray;
      text-transform: inherit;
 
      .material-icons {
        margin-right: 0;
      }
    }
  }
}

#left-column h4.liner {
  font-size: 20px;
  text-transform: capitalize;
  color: #919191;
  font-family: $roman;
  margin-bottom: 20px;

  &::before {
    content: " ";
    height: 4px;
    margin-top: 0;
    background: url("liner-gray.jpg") no-repeat;
    position: absolute;
    display: block;
    top: 33px;
    left: 0;
    width: 80px;
  }

  &::after {
    content: " ";
    background-color: #919191;
    -webkit-transform: skew(-35deg);
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -o-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    transform: skew(35deg);
    display: block;
    height: 4px;
    position: absolute;
    top: 33px;
    left: 78px;
  }
}

#category {
  .hidden-md-up.text-xs-right.up a.btn.btn-secondary {
    display: table;
    margin: auto;
    background: $brand-primary;
    color: white!important;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    font-family: $bold;
  }

  #wrapper {
    background: #f9f9f9;
  }

  #search_filters {
    background: transparent;
    box-shadow: none;
  }

  #content-wrapper {
    padding: 0;
  }

  #left-column {
    padding: 20px;
    background: transparent;
    @media (max-width: 1200px) {
      padding-left: 10px;
    }

    h1 .h1 {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .search-widget {
      float: none;
    }

    #search_widget {
      @media (max-width: 800px) {
        display: none;
      }
    }

    #search_filters_wrapper {
      background: transparent;

      .color,
      .custom-checkbox input[type="checkbox"] + span.color, span.ps-shown-by-js, .custom-checkbox span {
        width: 1.25rem;
        height: 1.25rem;
        display: inline-block;
        margin: 0.3125rem;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.5);
        cursor: pointer;
        background-size: contain;
      }
      .custom-checkbox input[type="checkbox"] + span {
    margin-right: 3px;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
     border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .facet-label.active .custom-checkbox span.color, .facet-label:hover .custom-checkbox span.color, .facet-label.active .custom-checkbox span.ps-shown-by-js, .facet-label:hover .custom-checkbox span.ps-shown-by-js, .custom-checkbox span:hover, .custom-checkbox span:focus, .custom-checkbox span:active  {
    background: #0029A5;
}
    }

    form button {
      left: 90%;
      background: #999;
      @media (min-width: 2000px) {
      left: 93%;
      }
      height: 39px;
      top: 16px;
      border-radius: 0 3px 3px 0;
      @media (max-width: 890px) {
        left: 150px;
      }
    }

    input[type="text"] {
      width: 100%;
      margin-left: 0;
      background: white;
      height: 39px;
      border: 1px solid #999;
      border-radius: 3px;
      margin-top: 16px;
      margin-bottom: 30px;
      @include placeholder {
        color: black;
      }
    }

    .search-widget form input[type=text]:focus {
      outline: 0 #999 solid;
      color: #414141;

      + button .search {
        color: white;
      }
    }
  }
}

.block-category {
  min-height: rem(220px);
  margin-bottom: rem(25px);

  #category-description {
    p,
    strong {
      font-weight: 400;
      color: $gray;
    }

    p {
      color: $gray-darker;
      margin-bottom: 0;

      &:first-child {
        margin-bottom: $medium-space;
      }
    }
  }

  .category-cover {
    position: absolute;
    right: 0.75rem;
    bottom: 0;

    img {
      width: 141px;
      height: 180px;
    }
  }
}

.products-selection {
  .sort-by {
    padding-top: rem(10px);
    white-space: nowrap;
    margin-right: rem(-15px);
    margin-left: rem(15px);
    text-align: right;
  }

  .total-products {
    padding-top: rem(10px);
  }

  h1 {
    padding-top: rem(10px);
  }
}

.products-sort-order {
  color: $gray-dark;

  .select-title {
    display: inline-block;
    margin-left: 0.375rem;
    width: 100%;
    color: #414141;
    background-color: white;
    padding: 0.625rem;
    cursor: pointer;
    border: 1px solid #dbdbdb;
  }

  .select-list {
    display: block;
    color: $gray-darker;
    padding: $small-space $medium-space;

    &:hover {
      background-color: $brand-primary;
      color: white;
      text-decoration: none;
    }
  }

  .dropdown-menu {
    left: auto;
    width: rem(390px);
    background-color: white;
    border-radius: 0;
    right: 9px;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-top: none;
    top: 42px;
  }
}

#search_filters,
#search_filters_brands,
#search_filters_suppliers {
  @include box-shadow;
  margin-bottom: rem(25px);
  background-color: white;

  .facet {
    .collapse {
      display: block;
    }
    padding-top: $small-space;

    .facet-title {
      color: black;
    }

    .facet-label {
      margin-bottom: 0;

      a {
        margin-top: rem(7px);
        color: black;
        display: inline-block;
        font-size: $font-size-lg;
      }
    }
  }
}

#search_filters_brands,
#search_filters_suppliers {
  .facet {
    padding-top: 0;

    .facet-label {
      margin-bottom: rem(5px);
    }
  }
}

.pagination {
  width: 100%;

  > div:first-child {
    line-height: rem(40px);
  }

  .page-list {
    background-color: white;
    padding: rem(10px) rem(20px);
    margin-bottom: 0;

    li {
      display: inline;
    }
  }

  a {
    color: black;
    font-weight: 600;
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }

  .disabled {
    color: $gray;
  }

  .current a {
    color: $brand-primary;
    text-decoration: none;
  }
}

.active_filters {
  padding: $small-space $large-space 0;
  margin-bottom: $medium-space;

  .active-filter-title {
    display: inline;
    margin-right: $small-space;
    font-weight: 600;
  }

  ul {
    display: inline;
  }

  .filter-block {
    @include box-shadow;
    color: $gray-darker;
    margin-right: $small-space;
    margin-bottom: $small-space;
    background-color: white;
    padding: rem(10px);
    display: inline-block;
    font-size: $font-size-xs;

    .close {
      color: $gray-darker;
      font-size: $font-size-lg;
      opacity: 1;
      margin-top: 0;
      margin-left: rem(5px);
    }
  }
}

.block-categories {
  @include box-shadow;
  background-color: white;
  padding: rem(25px) rem(20px);
  margin-bottom: rem(25px);

  .category-sub-menu {
    margin-top: $small-space;

    .category-sub-link {
      font-size: $font-size-sm;
    }

    li {
      position: relative;

      &[data-depth="1"] {
        margin-bottom: $small-space;
      }
    }

    li[data-depth="0"] > a {
      font-weight: 600;
      border-bottom: $gray-light 2px solid;
      width: 100%;
      display: inline-block;
      margin: 0.3125rem 0 0;
      padding-bottom: rem(3px);
    }

    li:not([data-depth="0"]):not([data-depth="1"]) {
      padding-left: rem(5px);

      &::before {
        content: "-";
        margin-right: rem(5px);
      }
    }
  }

  a {
    color: $gray-darker;
  }

  .collapse-icons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    cursor: pointer;

    &[aria-expanded="true"] {
      .add {
        display: none;
      }

      .remove {
        display: block;
      }
    }

    .add,
    .remove {
      &:hover {
        color: $brand-primary;
      }
    }

    .remove {
      display: none;
    }
  }

  .arrows {
    .arrow-down,
    .arrow-right {
      font-size: $font-size-sm;
      cursor: pointer;
      margin-left: 2px;

      &:hover {
        color: $brand-primary;
      }
    }

    .arrow-down {
      display: none;
    }

    &[aria-expanded="true"] {
      .arrow-right {
        display: none;
      }

      .arrow-down {
        display: inline-block;
      }
    }
  }
}

.facets-title {
  color: $gray-darker;
}

.products-selection {
  .filter-button {
    .btn-secondary {
      padding: rem(12px) rem(8px) rem(11px);
    }
  }
}
/*** Responsive part ***/
@include media-breakpoint-up(md) {
h1.liner {
    margin-bottom: 40px;
}
div#js-product-list-top {
   margin-bottom: 0;
    width: 360px;
    display: table;
   background: none;
    border-radius: 6px;
    text-align: left;
}
}
@include media-breakpoint-down(sm) {
  #category {
    ul.plist {
      margin-bottom: 0;
      line-height: 16px;
    }

    .phead.col-md-9 {
      background-image: none!important;

      h2 {
        position: relative;
        left: -40%;
        @media screen and (min-width:0) and (max-width:600px) {
          left: 0;
          font-size: 1.25 rem;
        }
      }
    }

    .card-block .col-md-3,
    .card-block .col-md-5 {
      float: left;
      @media screen and (min-width:0) and (max-width:500px) {
        float: none;
        width: 95%;
        display: table;
        margin: auto;
      }

      img {
        margin-top: 20px;
        @media screen and (min-width:500px) and (max-width:675px) {
          margin-top: 50px;
          width: 160px;
          margin-bottom: 35px;
        }
        @media screen and (min-width:0) and (max-width:500px) {
          margin-top: 0;
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
    overflow-x: hidden;

    button.btn.btn-secondary.ok {
      background: $brand-secondary;
      border-radius: 3px;
    }

    button.btn.btn-tertiary.js-search-filters-clear-all {
      background: $brand-tertiary;
      border-radius: 3px;
      color: white;
      padding: 11px;
    }

    #left-column {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      background: white;

      #search_filters_wrapper {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
      }

      #search_filter_controls {
        text-align: center;

        button {
          margin: 0 rem(8px);
        }
        margin-bottom: rem(16px);
      }

      #search_filters {
        margin-bottom: 0;
        box-shadow: none;
        padding: 0;
        border-top: 1px solid $gray-lighter;

        .facet {
          background: #414141;
          border-radius: 3px;

          .title {
            cursor: pointer;
            color: white;

            .collapse-icons .remove {
              display: none;
            }
          }

          .title[aria-expanded="true"] {
            .collapse-icons {
              .add {
                display: none;
              }

              .remove {
                display: block;
              }
            }
          }
          padding-top: 0;
          border-bottom: 1px solid $gray-lighter;

          .facet-title {
            color: $gray-darker;
            text-transform: uppercase;
          }

          .h6 {
            margin-bottom: 0;
            padding: rem(10px);
            display: inline-block;
            color: white;
          }

          .navbar-toggler {
            display: inline-block;
            float: right;
            padding: 4px 5px;
          }

          .collapse {
            display: none;

            &.in {
              display: block;
            }
          }

          .facet-label {
            a {
              margin-top: 0;
            }
          }

          ul {
            margin-bottom: 0;

            li {
              border-top: 1px solid #eeeeee;
              padding: 0.625rem;
              background: white;
              border-right: 1px solid #eeeeee;
              border-left: 1px solid #eeeeee;
              padding: rem(10px);
            }
          }
        }
      }
    }

    #content-wrapper {
      width: 100%;
    }

    #search_filter_toggler {
      width: 100%;
      background: $brand-secondary;
      border-radius: 3px;
      padding: 5px;
      border: none;
      font-family: $bold;
    }
  }

  .products-sort-order {
    .select-title {
      margin-left: 0;
    }
  }

  .products-selection {
    h1 {
      padding-top: 0;
      text-align: center;
      margin-bottom: rem(16px);
    }

    .showing {
      padding-top: rem(16px);
    }
  }

  #best-sales #content-wrapper,
  #new-products #content-wrapper,
  #prices-drop #content-wrapper {
    width: 100%;
  }
}
@include media-breakpoint-down(xs) {
  .products-selection {
    .filter-button {
      padding-left: 20px;
    }
  }

  #category {
    #left-column {
      padding-left: 20px !important;
      padding-right: 20px !important;
      margin: 0;

      #search_filters_wrapper {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
}

#main {
  h1 {
    .liner {
      @media screen and (max-width:600px) {
        font-size: 1.5rem;
      }
    }
  }
}

#product-categories {
  background: url(concrete.jpg)no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 2px;
  margin-bottom: 0;
  padding: $pad1;
  text-align: left;
  @media screen and (max-width: 1200px) {
    padding: $pad2;
  }
  @media screen and (max-width: 980px) {
    padding: $pad3;
  }

  .col-xs-8.col-sm-3.product-block {
    width: 20%;
    @media screen and (max-width: 767px) {
      width: 50%;
      float: left;
      margin-bottom: -50px;
    }
    @media screen and (max-width:500px) {
      width: 100%;
      float: none!important;
      padding-bottom: 20px;
      margin-bottom: 0;
      @include clearfix();
    }
  }

  h3 {
    text-transform: uppercase;
    color: $gray-darker;
    font-size: rem(34px);
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 400px) {
      font-size: 1.25rem;
    }
  }

  p {
    color: $gray-darker;
    font-weight: 400;
    font-size: 1.1em;

    .dark {
      color: $gray;
      font-weight: 400;
    }
  }

  a span {
    display: inline-block;
    background: white;
    width: 100%;
    color: black;
    padding: 10px;
    font-family: $bold;
    font-size: 20px;
    text-align: center;
    @media screen and (max-width: 980px) {
      font-size: 14px;
    }
  }
}

.page-content.page-cms {
  background-color: white;
  padding: rem(20px);
  text-align: justify;

  .cms-box {
    img {
      max-width: 100%;
    }
  }
}
@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}

#product-categories .col-xs-8.col-sm-3.product-block:nth-child(6) {
  clear: both;
  @media screen and (max-width: 767px) {
    clear: none;
  }
}

#product-categories .col-xs-8.col-sm-3.product-block:nth-child(odd) {
  @media screen and (max-width: 767px) {
    clear: both;
    margin-bottom: 20px;
    @media screen and (max-width: 500px) {
      margin-bottom: 0;
    }
  }
}

#products {
  .card-block {
    padding: 0;
    @media screen and (min-width: 0px) and (max-width: 500px) {
      padding-bottom: 40px;
    }
  }

  #products img {
    width: 210px;
  }

  .phead.col-md-9 {
    padding: 0px;
    background-color: #f3f3f3;
    background-image: url('phead.png');
    background-position: left top;
    background-repeat: no-repeat;

    span {
        text-align: left;
    float: none;
    padding-top: 2px;
    margin-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    display: table-cell;
    position: absolute;
    right: 0px;
    top: -5px;
      @media screen and (min-width: 0px) and (max-width: 767px) {
      display:none;
      }
    }
    a.pdf {
    left: 0px;
    padding-bottom: 0px;
    display: inline-block;
    top:-2px;
  }
    a.pdf:before {
    left: 8px;
    position: relative;
    color: white;
    top: 24px;
    display:block;
  }
  }

  ul.plist.first {
    @media screen and (min-width: 980px) {
      margin-left: 20px;
      width: 200px;
    }
    @media screen and (min-width: 767px) and (max-width: 980px) {
      margin-left: 10px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  ul.plist.second {
    margin-left: 30px;
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }

  ul.plist {
    list-style-type: square;
    color: $brand-secondary;
    font-size: 14px;
    margin-top: 20px;
    @media screen and (max-width: 1200px) {
      font-size: 12px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 0;
    }

    li {
      padding: 3px;
 .name {
        color: #878787;
        text-transform: uppercase;
        margin-right: 8px;
        font-family: $medium;
      }

      .value {
        color: black;
        font-family: $roman;
      }
    }
  }

  h2 a {
    font-size: 18px;
    color: black;
    margin-left: 30px;
  }
}

.phead h2 {
  font-size: 30px;
}

.card-block .col-md-3 img {
  @media screen and (min-width:767px) and (max-width: 1400px) {
    margin-top: 30px;
  }
}

ul.plist.first {
  @media screen and (min-width:850px) and (max-width: 1300px) {}
  @media screen and (max-width:850px) {}
}

ul.plist.second {
  @media screen and (min-width:900px) and (max-width: 1000px) {}
  @media screen and (min-width:767px) and (max-width:899px) {}
}

h1.h1 {
  display: none;
}

button.btn.btn-tertiary.js-search-filters-clear-all {
  border: 1px solid #868686;
  padding: 7px 15px 4px;
  text-transform: uppercase;
  background: #414141;
  color: white;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.btn-tertiary .material-icons {
  font-size: 1rem;
  margin-right: 0.125rem;
  margin-bottom: 2px;
}
#products ul.plist li {
@media screen and  (max-width: 500px) {
      margin-left: 20px;
}
}
.card-block::after {
    margin: 10px;
}
