#cms {
    #custom-text {
      .spaced {
        width: 70%;
        @media screen and (max-width:767px) {
            width:100%;
        }
      }

      .card-header:first-child {
        border-radius: 3px 3px 0 0;
      }

      h2 {
        font-size: 40px;
        margin-bottom: 40px;
        @media screen and (max-width:600px){
        font-size:1.5rem;
        margin-bottom:1.5rem;
        }
      }

      textarea#textarea_1485112474 {
        background: #fafafa;
        border-radius: 3px;
      }

      .gformbuilderpro_form button {
        font-family: 'Georgia, Times, Times New Roman, serif';
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 1px;
        background: transparent;
        border: 1px solid;

        &::before {
          content: '\E315';
          font-family: 'Material Icons';
          background: $brand-primary;
          border-radius: 17px;
          font-size: 14px;
          position: relative;
          top: 3px;
          right: 7px;
        }
      }
    }
}
#contact {
  #left-column {
    display: none;
    width: 0;
    margin: 0;
    padding: 0;
  }

  #content-wrapper {
    width: 100%;
    padding: 0;
  }

  #main {
    .page-content {
      margin-bottom: 0;
      padding: 0;
    }
    .col-sm-12 .card {
       margin-bottom: 60px;
   }
    .card {
      background: transparent;
      border: 0;
     

      .card-block {
        background: white;
        margin: 0;
        padding: 0;

        .google-maps {
          padding-bottom: 40%;
          @media screen and (min-width: 900px) and (max-width:1200px){
          padding-bottom:60%;
          }
          @media screen and (max-width:899px){
        padding-bottom:75%;
    }
        }
      }

      .col-sm-6, .col-sm-8, .col-sm-4 {
        margin: 0;
        padding: 0;
        @media screen and (max-width:674px){
            width:100%;
        }
        ul {
            padding-left:25px;
            padding-top:10px;
            padding-bottom:10px;
            font-size:20px;
            font-weight:normal;
            font-family:$roman;
            @media screen and (min-width:675px)and (max-width:800px) {
                padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}
@media screen and (max-width:674px){
font-size:14px;
padding-bottom:0px;
padding-top:0px;
}
            span {
                font-family:Georgia;
            }
        }
      }
    }

    #custom-text {
      .spaced {
        width: 70%;
        @media screen and (max-width:767px) {
            width:100%;
        }
      }

      .card-header:first-child {
        border-radius: 3px 3px 0 0;
      }

      h2 {
        font-size: 40px;
        margin-bottom: 40px;
        @media screen and (max-width:600px){
        font-size:1.5rem;
        margin-bottom:1.5rem;
        }
      }

      textarea#textarea_1485112474 {
        background: #fafafa;
        border-radius: 3px;
      }

      .gformbuilderpro_form button {
        font-family: 'Georgia, Times, Times New Roman, serif';
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 1px;
        background: transparent;
        border: 1px solid;

        &::before {
          content: '\E315';
          font-family: 'Material Icons';
          background: $brand-primary;
          border-radius: 17px;
          font-size: 14px;
          position: relative;
          top: 3px;
          right: 7px;
        }
      }
    }
  }
}
