#custom-text {
    background: url(home-dark-concrete.jpg)no-repeat;
        background-size: cover;
  border-radius: 2px;
  margin-bottom:0px;
  text-align: left;
  color:white;
  padding: $pad1;
  @media screen and (max-width: 1200px) {
       padding: $pad2;
 }
 @media screen and (max-width: 980px) {
      padding: $pad3;
}
  h2 {
    text-transform: uppercase;
color:$brand-primary;
font-size:46px;
line-height: 2rem;
@media screen and (min-width:500px) and (max-width: 767px) {
font-size: 36px;
}
@media screen and (min-width:0) and (max-width: 500px) {
font-size: 25px;
}
  }
  h4 {
  font-size: 1.75rem;
font-family: roman;
line-height: 2rem;
padding-top: 18px;
}
  p {
    font-size:20px;
    color:white;
    max-width:80%;
    line-height:1.25;
    @media screen and (min-width:0) and (max-width: 767px) {
        max-width:100%;
    }
    .dark {
      color: $gray;
      font-weight: 400;
    }
  }
a span {
    display: inline-block;
    background: white;
    width: 100%;
    color: black;
    padding: 10px;
    font-family: $bold;
    font-size: 20px;
    text-align: center;
  }
}
.page-content.page-cms{
  background-color: white;
  padding: rem(20px);
  text-align: justify;
  .cms-box{
    img{
      max-width: 100%;
    }
  }
}
@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}
.product-block:nth-child(4)::after, .product-block:nth-child(8)::after, .product-block:nth-child(12)::after, .product-block:nth-child(16)::after, .product-block:nth-child(20)::after    {
    content: ' ';
    display: block;
    height: 50PX;
    clear: both;
    visibility: hidden;
    @media screen and  (max-width: 500px) {
        height:auto;
    }
        
}
