.block_newsletter {
  @include search-box;
  font-size: $font-size-sm;

  p {
    padding-top: $small-space;
  }

  form {
    .input-wrapper {
      overflow: hidden;
    }

    input[type=text] {
      padding: 11px;

      &:focus {
        border: 3px $brand-primary solid;
        padding: 8px 8px 9px;
        outline: 0;
      }
      width: 100%;
    }

    input {
      height: 42px;
    }
  }
  margin-bottom: rem(10px);
}

.block-contact {
  border-left: $gray-light 2px solid;
  padding-left: rem(48px);
  color: $gray;

  .block-contact-title {
    color: $gray-darker;
  }
}

.linklist {
  .blockcms-title a {
    color: $gray-darker;
  }
}

.account-list a {
  color: $gray;

  &:hover {
    color: $brand-primary;
  }
}

.block-contact-title,
.blockcms-title,
.myaccount-title,
.myaccount-title a {
  font-weight: 700;
  font-size: $base-font-size;
}

.block-social {
  text-align: right;
}

.block-social li {
  height: rem(40px);
  width: rem(40px);
  background-color: $gray-light;
  background-repeat: no-repeat;
  display: inline-block;
  margin: rem(2px);
  cursor: pointer;

  &:hover {
    background-color: $brand-primary;
  }

  a {
    display: block;
    height: 100%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;

    &:hover {
      color: transparent;
    }
  }
}

.facebook {
  background-image: url("../img/facebook.svg");

  &::before {
    content: "";
    background-image: url("../img/facebook-blue.svg");
  }

  &.icon-gray {
    background-image: url("../img/facebook-gray.svg");

    &:hover {
      background-image: url("../img/facebook-blue.svg");
    }
  }
}

.twitter {
  background-image: url("../img/twitter.svg");

  &::before {
    content: "";
    background-image: url("../img/twitter-blue.svg");
  }

  &.icon-gray {
    background-image: url("../img/twitter-gray.svg");

    &:hover {
      background-image: url("../img/twitter-blue.svg");
    }
  }
}

.rss {
  background-image: url("../img/rss.svg");
}

.youtube {
  background-image: url("../img/youtube.svg");
}

.googleplus {
  background-image: url("../img/gplus.svg");

  &::before {
    content: "";
    background-image: url("../img/gplus-blue.svg");
  }

  &.icon-gray {
    background-image: url("../img/gplus-gray.svg");

    &:hover {
      background-image: url("../img/gplus-blue.svg");
    }
  }
}

#block_myaccount_infos {
  .myaccount-title a {
    color: $gray-darker;
  }
}

.pinterest {
  background-image: url("../img/pinterest.svg");

  &::before {
    content: "";
    background-image: url("../img/pinterest-blue.svg");
  }

  &.icon-gray {
    background-image: url("../img/pinterest-gray.svg");

    &:hover {
      background-image: url("../img/pinterest-blue.svg");
    }
  }
}

.vimeo {
  background-image: url("../img/vimeo.svg");
}

.instagram {
  background-image: url("../img/instagram.svg");
}

.footer-container {
  margin-top: $medium-space;
  padding-top: $medium-space;
  overflow: hidden;

  li {
    margin-bottom: rem(5px);
  }

  li a {
    color: $gray-light;
    cursor: pointer;
    font-size: $font-size-sm;

    &:focus,
    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .links {
    .collapse {
      display: inherit;
    }
  }

  p a._blank {
    color: $gray;
    text-align: right;
    margin-right: 40px;
  }
}

#product #footer {
  h2.liner {
    @media screen and (max-width:980px) {
      font-size: 1.5rem;
    }
  }

  .row.tertiary.clearfix {
    @media screen and (max-width:767px) {
      float: none;
      display: table;
      margin: auto;
      padding: 20px 0;
    }
  }

  .col-md-2 {
    @media screen and (min-width:767px) and (max-width: 1000px) {
      width: 25%;
      float: right;
    }
    @media screen and (max-width:767px) {
      display: table;
      margin: auto;
      float: none;
      margin-top: 20px;
    }

    span {
      @media screen and (max-width: 1000px) {
        font-size: 15px;
      }
    }
  }
}

.contact-ft {
  @media screen and (max-width: 1000px) {
    display: none;
  }

  h4 {
    font-size: 24px;
    font-family: Georgia;
    color: $brand-primary;
    font-weight: normal;
    @media screen and (max-width: 1080px) {
      font-size: 20px;
    }
  }

  h2 {
    color: #bababa;
    @media screen and (max-width: 1270px) {
      font-size: 1.65rem;
    }
    @media screen and (max-width: 1080px) {
      font-size: 20px;
    }
  }

  i.material-icons {
    float: left;
    font-size: 70px;
    font-weight: bold;
    @media screen and (max-width: 1200px) {
      line-height: 50px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .block_newsletter {
    padding-bottom: rem(10px);
    border-bottom: 1px solid $gray-lighter;
  }

  .footer-container {
    box-shadow: none;
    margin-top: 0;

    .wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .links {
      .h3 {
        line-height: 1.5;
        font-size: rem(16px);
      }

      .title {
        padding: rem(10px);
        border-bottom: 1px solid $gray-lighter;
        cursor: pointer;

        .collapse-icons .remove {
          display: none;
        }
      }

      .title[aria-expanded="true"] .collapse-icons {
        .add {
          display: none;
        }

        .remove {
          display: block;
        }
      }

      .navbar-toggler {
        display: inline-block;
        padding: 0;
      }

      .collapse {
        display: none;

        &.in {
          display: block;
        }
      }

      ul {
        background-color: $gray-lighter;
        margin-bottom: 0;

        > li {
          padding: rem(10px);
          border-bottom: 1px solid white;
          font-weight: bold;

          a {
            color: $gray-darker;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .block-social {
    text-align: center;
  }

  .block-contact {
    padding-left: rem(24px);
  }
}
