.carousel {
    @media screen and (max-width:1300px) {
 margin-bottom:-25px;
}
  .direction {
    z-index: auto;
  }
  .carousel-inner {
    max-height: 540px;
    height:auto;
    figcaption .caption-description h2 {
      font-family:'Georgia, Times, Times New Roman, serif';
      padding-top: 18px;
      font-size: 1.75rem;
      padding-top: 18px;
            @media screen and (max-width: 767px) {
                padding-top: 0px;
      font-size: 18px;
}
    }
    figcaption h2.display-1.text-uppercase{
      font-family: helvetica-neue-black-condensed;
      font-weight:normal;
      @media screen and (max-width: 767px) {
          font-size: 25px;
          line-height: 10px;
      }
    }
  }
  .carousel-item {
    height: 100%;
    img {
      width: 100%;
      margin-left: 0;
      max-width:100%;
    }
    .caption {
        position: absolute;
   top: 250px;
  @media screen and (max-width: 1300px) {
    top:200px;
   }
   @media screen and (max-width: 1100px) {
    top:100px;
   }
 @media screen and (max-width: 800px) {
   top: 50px;
}
   left: 0px;
   color: white;
   width: 100%;
   background:url('caption.png') no-repeat;
   @media screen and (max-width: 767px) {
       background:url('caption-sm.png') no-repeat;
           background-position-x: -115px;
   }
   padding: 21px;
      }
  }
  ul.carousel-inner{
      margin-bottom:0px;
  }
  .carousel-control {
    opacity: 1;
    .icon-next,
    .icon-prev {
      &::before {
        content: "";
      }
      i {
        font-size: rem(50px);
        color: white;
      }
      &:hover {
        i {
          color: $brand-primary;
        }
      }
    }
    .icon-prev {
      left: rem(16px);
    }
    .icon-next {
      right: rem(32px);
    }
    &.left,
    &.right {
      background-color: none;
    }
  }
}
