.product-prices, .fmesl_TabStores, .tabs, div#block-reassurance {
    display: none;
}
.row.tertiary.clearfix .btn {
    margin-right: 10px;
}
#product {
  .modal-header .close {
    margin-top: -10px;
  }
  section #main {}

  h1.liner {
    line-height: 1;

    &::before {
      content: " ";
      margin-top: 0;
      width: 0;
      background-image: none;
      position: absolute;
    }

    &::after {
      content: " ";
      background-image: url("liner-for-pages.jpg");
      background-repeat: no-repeat;
      background-color: $brand-primary;
      -webkit-transform: skew(-35deg);
      -webkit-transform: skew(-35deg);
      -moz-transform: skew(-35deg);
      -o-transform: skew(-35deg);
      -ms-transform: skew(-35deg);
      transform: skew(35deg);
      display: block;
      height: 7px;
      margin-left: 0;
      left: 0;
    }
  }

  #content {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  #content-wrapper {
    padding: $pad1;
    @media screen and (max-width: 1200px) {
      padding: $pad2;
    }
    @media screen and (max-width: 980px) {
      padding: $pad3;
    }

    h1 {
      @media screen and (max-width: 400px) {
        font-size: 1rem;
      }

      .liner::before {
        top: 43px;
        height: 7px;
      }
    }
  }

  .spinner_value {
    height: 27px;
min-width:50px;
}
}

article.product-miniature.js-product-miniature {
  width: 100%;
}

.product-price {
  color: $brand-primary;
  display: inline-block;
}

#product-description-short {
  color: $gray-darker;
}

.product-information {
  font-size: $font-size-lg;
  color: $gray-darker;

  .manufacturer-logo {
    height: 35px;
  }
}

.input-color {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: rem(20px);
  width: rem(20px);
}

.input-container {
  position: relative;
}

.input-radio {
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.input-color,
.input-radio {
  &:checked + span,
  &:hover + span {
    border: 2px solid $gray-darker;
  }
}

.radio-label {
  @include box-shadow;
  background-color: white;
  display: inline-block;
  padding: rem(2px) $small-space;
  font-weight: 600;
  border: 2px solid white;
}

.product-actions {
  .control-label {
    width: 100%;
    margin-bottom: rem(6px);
    display: block;
    width: 100%;
  }

  .add-to-cart {
    height: rem(44px);
    line-height: inherit;
    padding-top: rem(10px);

    .material-icons {
      line-height: inherit;
    }
  }
}

.product-quantity {
  .qty {
    float: left;
    width: 80px;
    margin-bottom: rem(8px);
  }

  .add {
    float: left;
    margin-bottom: rem(8px);
  }

  #quantity_wanted {
    color: $gray-darker;
    background-color: white;
    height: rem(44px);
    padding: 0.175rem 0.5rem;
    width: rem(48px);
  }

  .input-group-btn-vertical {
    float: left;
  }

  .input-group-btn-vertical {
    .btn {
      padding: rem(8px) rem(11px);

      i {
        font-size: rem(16px);
        top: rem(2px);
        left: rem(3px);
      }
    }
  }

  .btn-touchspin {
    height: rem(23px);
  }
}

.product-discounts {
  margin-bottom: rem(24px);

  > .product-discounts-title {
    font-weight: normal;
    font-size: $font-size-sm;
  }

  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: $small-space $medium-space;
      background-color: white;
      border: rem(5px) $gray-light solid;
      text-align: center;
    }

    tbody tr {
      background-color: $gray-lighter;

      &:nth-of-type(even) {
        background-color: white;
      }

      td {
        padding: $small-space $medium-space;
        text-align: center;
        border: rem(5px) $gray-light solid;
      }
    }
  }
}

.product-prices {
  margin-top: $medium-space;

  div {
    margin-bottom: rem(10px);
  }

  .tax-shipping-delivery-label {
    font-size: rem(13px);
    color: $gray-dark;
  }
}

.product-discount {
  color: $gray;

  .regular-price {
    text-decoration: line-through;
    font-weight: normal;
    margin-right: $small-space;
  }
}

.has-discount {
  &.product-price,
  p {
    color: $brand-secondary;
  }

  .discount {
    background-color: $brand-secondary;
    color: white;
    font-weight: 600;
    padding: rem(5px) $small-space;
    font-size: $font-size-base;
    margin-left: $small-space;
    text-transform: uppercase;
    display: inline-block;
  }
}

.product-unit-price {
  font-size: $font-size-xs;
  margin-bottom: 0;
}

.tabs {
  @include box-shadow;
  margin-top: rem(32px);
  background-color: white;
  padding: $medium-space $large-space;

  .tab-pane {
    padding-top: $medium-space;
  }

  .nav-tabs {
    border: none;
    border-bottom: $gray-light 2px solid;

    .nav-link {
      color: $gray-dark;
      border: 0 solid transparent;

      &.active {
        border: none;
        border-bottom: $brand-primary 3px solid;
        color: $brand-primary;
      }

      &:hover {
        border: none;
        border-bottom: $brand-primary 3px solid;
      }
    }

    .nav-item {
      float: left;
      margin-bottom: rem(-2px);
    }
  }
}

.product-cover {
  margin-bottom: $medium-space;
  position: relative;

  img {
    background-color: white;
  }

  .layer {
    @include display(flex);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    cursor: pointer;
    @include transition(opacity .7s ease-in-out);

    &:hover {
      opacity: 1;
    }

    .zoom-in {
      font-size: rem(100px);
      color: white;
    }
  }
}

.modal-content {
  h5 {
    line-height: normal;
    margin-bottom: 10px;
  }
}

#product-modal {
  .modal-content {
    background-color: transparent;
    border: none;
    padding: 0;

    .modal-body {
      @include display(flex);
      margin-left: -30%;

      .product-cover-modal {
        background-color: white;
      }

      .image-caption {
        background-color: white;
        width: 800px;
        padding: rem(10px) rem(20px);
        border-top: $gray-light 1px solid;

        p {
          margin-bottom: 0;
        }
      }

      .thumbnails {
        position: relative;
      }

      .mask {
        position: relative;
        overflow: hidden;
        max-height: rem(790px);
        margin-top: rem(35px);
        z-index: 1;

        &.nomargin {
          margin-top: 0;
        }
      }

      .product-images {
        margin-left: $extra-large-space;

        img {
          width: rem(148px);
          cursor: pointer;
          background-color: white;

          &:hover {
            border: $brand-primary 3px solid;
          }
        }
      }

      .arrows {
        height: 100%;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        color: white;
        right: $large-space;
        z-index: 0;

        .arrow-up {
          position: absolute;
          top: -.3rem;
          opacity: 0.2;
        }

        .arrow-down {
          position: absolute;
          bottom: -.3rem;
        }

        i {
          font-size: rem(100px);
          display: inline;
        }
        cursor: pointer;
      }
    }
  }
}

#blockcart-modal {
  color: $gray-darker;

  .modal-header {
    background-color: $brand-success;
  }

  .modal-body {
    background-color: $gray-light;
    padding: rem(50px) rem(30px);

    .divide-right span {
      display: inline-block;
      margin-bottom: rem(5px);
    }
  }

  .modal-dialog {
    max-width: 1140px;
    width: 100%;
  }

  .product-image {
    width: rem(210px);
  }

  .modal-title {
    font-weight: 600;
    color: white;
    font-size: rem(18px);

    i.material-icons {
      margin-right: $large-space;
    }
  }

  .product-name {
    color: $brand-primary;
    font-size: rem(18px);
  }

  .cart-products-count {
    font-size: rem(18px);
  }

  .cart-content {
    padding-left: $extra-large-space;

    button {
      margin-right: rem(5px);
    }
  }

  .divide-right {
    border-right: $gray 1px solid;
  }
}

.product-images {
  > li.thumb-container {
    display: inline;

    > .thumb {
      @include box-shadow;
      cursor: pointer;
      margin-bottom: $small-space;

      .images-container & {
        margin-right: rem(13px);
      }

      &.selected,
      &:hover {
        border: $brand-primary 1px solid;
      }
    }
  }
}

#main {
  .images-container {
    .js-qv-mask {
      white-space: nowrap;
      overflow: hidden;

      &.scroll {
        width: calc(100% - 60px);
        margin: 0 auto;
      }
    }
  }
}

.scroll-box-arrows {
  display: none;

  &.scroll {
    display: block;
  }

  i {
    position: absolute;
    bottom: rem(26px);
    height: 100px;
    line-height: 100px;
    cursor: pointer;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

#product-availability {
  display: inline-block;
  font-weight: 700;
  margin-left: $small-space;

  .material-icons {
    line-height: inherit;
  }

  .product-available {
    color: $brand-success;
  }

  .product-unavailable {
    color: $brand-warning;
  }

  .product-last-items {
    color: $brand-warning;
  }
}

#product-details {
  .label {
    font-size: $font-size-base;
    color: $gray-darker;
    font-weight: bold;
  }
}

.product-features {
  margin-top: $medium-space;
  margin-left: rem(5px);

  > dl.data-sheet {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(flex-start);

    dd.value,
    dt.name {
      @include flex(1 0 40%);
      font-weight: normal;
      background-color: $gray-light;
      padding: $small-space;
      margin-right: $small-space;
      min-height: rem(40px);
      word-break: break-all;

      &:nth-of-type(even) {
        background-color: $gray-lighter;
      }
    }

    dt.name {
      text-transform: capitalize;
    }
  }
}

.product-variants {
  > .product-variants-item {
    margin: $medium-space 0;

    select {
      border: 1px solid $gray-light;
      height: rem(40px);
      width: rem(60px);
    }

    ul li {
      margin-right: $small-space;
    }

    .color {
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.product-flags {
  position: absolute;
  top: 0;
  width: 100%;
}

li.product-flag {
  display: block;
  position: absolute;
  background-color: $brand-primary;
  font-weight: 700;
  padding: rem(5px) rem(7px);
  text-transform: uppercase;
  color: white;
  margin-top: $small-space;
  margin-left: rem(-5px);
  z-index: 2;

  &.online-only {
    top: rem(400px);
    right: 0;
    font-size: $font-size-xs;

    &::before {
      content: "\E30A";
      font-family: 'Material Icons';
      vertical-align: middle;
      margin: rem(5px);
    }
  }

  &.discount {
    display: none;
  }

  &.on-sale {
    background-color: $brand-secondary;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
    top: 0;
  }
}

.product-customization {
  @include box-shadow;
  margin: $extra-large-space 0;

  .product-customization-item {
    margin: $medium-space 0;
  }

  .product-message {
    background-color: $gray-light;
    border: none;
    width: 100%;
    height: rem(50px);
    resize: none;
    padding: rem(10px);
    @include placeholder {
      color: $gray;
    }
  }

  .file-input {
    width: 100%;
    opacity: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    height: rem(42px);
    overflow: hidden;
    position: absolute;
  }

  .custom-file {
    position: relative;
    background-color: $gray-light;
    width: 100%;
    height: rem(42px);
    line-height: rem(42px);
    text-indent: rem(10px);
    display: block;
    color: $gray;
    margin-top: $medium-space;

    button {
      z-index: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  small {
    color: $gray;
  }
}

.product-pack {
  margin-top: $extra-large-space;

  .pack-product-container {
    @include display(flex);
    justify-content: space-around;

    .pack-product-name {
      @include flex(0 0 50%);
      font-size: rem(14px);
      color: $gray;
    }

    .pack-product-quantity {
      border-left: $gray-light 2px solid;
      padding-left: $small-space;
    }

    .pack-product-name,
    .pack-product-price,
    .pack-product-quantity {
      @include display(flex);
      align-items: center;
    }
  }
}

.product-information .social-sharing ul li:before {
  content: ' ';
}

.product-refresh {
  margin-top: $medium-space;
}

.social-sharing {
  width: 100%;
  @include display(flex);
  @include align-items(center);
  margin-top: rem(24px);

  span {
    font-family: $bold;
    text-transform: uppercase;
  }

  ul {
    margin-bottom: 0;
  }

  li {
    height: rem(40px);
    width: rem(40px);
    display: inline-block;
    background-color: white;
    background-repeat: no-repeat;
    background-size: rem(32px) rem(32px);
    background-position: rem(4px) rem(4px);
    cursor: pointer;
    margin-left: rem(8px);
    list-style: none;
    @include transition(all .2s ease-in);

    a {
      display: block;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      text-indent: 100%;
      overflow: hidden;

      &:hover {
        color: transparent;
      }
    }
  }
}

.products-selection {
  margin-bottom: $medium-space;

  .title {
    color: $gray-dark;
  }
}

#blockcart-modal .cart-content {
  .btn {
    margin-bottom: $small-space;
  }
}
@include media-breakpoint-down(md) {
  .product-cover {
    img {
      width: 100%;
    }
  }

  #product-modal .modal-content .modal-body {
    @include flex-direction(column);
    margin-left: 0;

    img.product-cover-modal {
      width: 100%;
    }

    .arrows {
      display: none;
    }
  }

  #product-modal .modal-content .modal-body .image-caption {
    width: 100%;
  }

  #blockcart-modal {
    .modal-dialog {
      width: calc(100% - 20px);
    }

    .modal-body {
      padding: rem(30px);
    }
  }
}
@include media-breakpoint-down(sm) {
  #blockcart-modal {
    .divide-right {
      border-right: none;
    }

    .modal-body {
      padding: rem(16px);
    }
  }
}
#related-products {
    background: url(home-dark-concrete.jpg)no-repeat;
        background-size: cover;
  border-radius: 2px;
  margin-bottom:0px;
  text-align: left;
  color:white;
  padding: $pad1;
  @media screen and (max-width: 1200px) {
       padding: $pad2;
 }
 @media screen and (max-width: 980px) {
      padding: $pad3;
}
}
#related-products, #also {
  h3 {
    text-transform: uppercase;
  }

  .col {
    display: table;
    margin: auto;
    background: white;
    text-align: center;
    margin: auto;
    padding: 0;
    float: left;
    margin-right: 20px;
    @media screen and (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  .featured-products img,
  .product-accessories img,
  img {
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (max-width: 600px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  span {
    background: #F4F5F5;
    width: 100%;
    position: relative;
    display: table;
    padding-bottom: 15px;
    padding-top: 15px;
    color: black;
    border-top: 2px solid #dbdbdb;
    font-family: $black;
  }
}

.row .featured-products .products {
  float: none;
  display: table;
}

.row.tertiary.clearfix {
  a.btn.btn-secondary {
    font-size: 20px;
        margin-bottom: 20px;
  }

  span {
    color: white;
    font-size: 20px;
  }
  padding: $pad1;
  @media screen and (max-width: 1100px) {
    padding: $pad2;
  }

  .col-md-3 h5 {
    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 400px) {
    padding: $pad3;
  }
}
