.search-widget {
  float: right;
  @include search-box;
}
.header-top {
  .search-widget {
    form {
      input[type="text"] {
        width: 100%;
    width:243px;
        border-radius:6px;
        background-color:#9C2301;
        height:32px;
         @media screen and (max-width: 1080px) {
             width:175px;
             height:25px;
         }
             }
        button[type=submit] {
     @media screen and (max-width: 1080px) {
    top: 2px;
    left:140px;
}
}

  }
}
}
#checkout {
  #search_widget {
    display: none; /* Not ideal solution by allows to reuse same hooks/templates */
  }
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}
.search-widget form input[type=text] {
min-width:0px;
}
/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .header-top {
    .search-widget {
      float: none;
      padding: 0 rem(15px);
      form {
        margin: 0 auto;
        input[type="text"] {
          min-width: inherit;
          background-color: white;
        }
      }
    }
  }
}
